<div class="mat-elevation-z8 bg-white py-4 px-4">
  <button class="back-button  flex items-center" (click)="onBack()">
    <mat-icon class="mr-2 mt-3 mb-5">arrow_back</mat-icon>
    <span class="mt-3 mb-5 hover:underline">Back</span>
  </button>

  <p class="text-left text-xl  mb-5 ">Project Category</p>
  <div class="mb-11 ">
    <form  class="px-12" [formGroup]="dataForm">
      <div class="flex flex-cols-2 gap-6">
        <div class="col-span-5">
          <label for="business_category_type" class="block text-xs mb-2 text-gray-700">Category Name</label>
          <input type="text" id="business_category_type" class="h-12 border mb-3 rounded px-4 w-80 bg-gray-50" formControlName="business_category_type"  />
        </div>
        <div class="col-span-5">
          <label for="business_category_type_description" class="block text-xs mb-2 text-gray-700">Description</label>
          <textarea type="text" id="business_category_type_description" class=" border mb-3 rounded px-4 py-3  w-96 bg-gray-50" formControlName="business_category_type_description" rows="4"></textarea>
        </div>
      </div>

    <div class="mt-3 px-2">
      <mat-slide-toggle color="primary" formControlName="is_active" (change)="onToggle($event.checked)">Active</mat-slide-toggle>
    </div>
    </form>
  </div>
  <hr class="w-full" style="border: 1px  solid; "/>

  <app-table
  tableTitle="Project Sub-category"
  [columns]="tableColumns"
  [data]="tableData"
  [allowedActions]="allowedActions"
  [DeleteAction]="handleDeleteAction"
  [EditAction]="handleEditAction"
  [ViewAction]="handleViewAction"
  [PageChangeAction]="changePage"
  (addClick)="handleAddClick()"
  (searchClick)="handleSearchClick()"
  (settingsClick)="handleSettingsClick()"
  [isSearchVisible]="isSearchVisible"
></app-table>
<hr class="w-full" style="border: 1px  solid; "/>

</div>
