.content {
  padding: 24px;
  background: #f5f6fa;
}

.mat-toolbar {
  position: relative;
  background: #ffffff;
}

.mat-sidenav-container {
  height: calc(100vh - 64px);
  background: #ffffff;
}
.toolbar-with-border {
  border-bottom: 1px solid rgb(151, 151, 151);
}
.sidebar-with-border{
  border-right: 1px solid rgb(151, 151, 151);

}
