
<div class="header">
  <button class="back-button" mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<h2 class="text-center text-2xl font-semibold mb-6 mt-36">
  {{ title }}
</h2>

<div mat-dialog-content>
  <form [formGroup]="userGroupCreateForm">
    <div *ngIf="isViewDetail; else editMode" class="grid grid-cols-2 gap-6">
      <mat-form-field appearance="outline">
        <input
          matInput
          [formControlName]="categoryTypeKey"
          [placeholder]="categoryTypeKey | titlecase"
          readonly
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <textarea
          matInput
          [formControlName]="categoryDescriptionKey"
          [placeholder]="categoryDescriptionKey | titlecase"
          rows="3"
          readonly
        ></textarea>
      </mat-form-field>
    </div>


    <ng-template #editMode>
      <div class="grid grid-cols-2 gap-6">
        <mat-form-field appearance="outline">
          <input
            matInput
            [formControlName]="categoryTypeKey"
            [placeholder]="categoryTypeKey | titlecase"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <textarea
            matInput
            [formControlName]="categoryDescriptionKey"
            [placeholder]="categoryDescriptionKey | titlecase"
            rows="3"
          ></textarea>
        </mat-form-field>
      </div>
    </ng-template>

    <div class="mt-6">
      <mat-slide-toggle color="primary" formControlName="is_active" >Active</mat-slide-toggle>
    </div>
  </form>
</div>

<div class="flex justify-center" >
  <button
  class="bg-red-700 hover:bg-successActive text-white text-sm py-2.5 px-5 mr-2 mb-7 rounded-xl shadow-md"
  (click)="onSuspend()"
  *ngIf="isViewDetail">
  {{ buttonText }}
</button>
  <button
    class="bg-purple-700 hover:bg-successActive text-white text-sm py-2.5 px-5 mr-2 mb-7 rounded-xl shadow-md"
    (click)="onSave()"
    *ngIf="!isViewDetail">
    {{ buttonText }}
  </button>
</div>

