<div class="p-6 w-full mx-auto bg-white rounded-xl shadow-md space-y-4">
  <h2 class="text-xl font-semibold">Projects Detail</h2>
  <div class="grid gap-11 gap-y-3 text-sm grid-cols-2 md:grid-cols-5 ms-14">
    <div class="col-span-2">
      <label for="full_name" class="block text-xs mb-3 text-gray-700"
        >Title</label
      >
      <input
        type="text"
        id="full_name"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        [value]="fundraisingInfo?.title"
        readonly
      />
    </div>

    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >Description</label
      >
      <input
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        [value]="fundraisingInfo?.description"
        readonly
      />
    </div>
    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >Business Category</label
      >
      <input
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        [value]="fundraisingInfo?.Wegen_BusinessCategory.business_category_type"
        readonly
      />
    </div>
    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >Business Sub-category</label
      >
      <input
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        [value]="
          fundraisingInfo?.Wegen_BusinessSubCategory.business_sub_category_type
        "
        readonly
      />
    </div>
    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700">Goal</label>
      <input
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        [value]="fundraisingInfo?.goal"
        readonly
      />
    </div>
    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >Organizer Address</label
      >
      <input
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        [value]="fundraisingInfo?.organizer_address"
        readonly
      />
    </div>
    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >Start Date</label
      >
      <input
        type="datetime"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        formControlName="email"
        [value]="fundraisingInfo?.start_date"
        readonly
      />
    </div>
    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >End Date</label
      >
      <input
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        formControlName="email"
        [value]="fundraisingInfo?.end_date"
        readonly
      />
    </div>
    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >Fundraising Type</label
      >
      <input
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        formControlName="email"
        [value]="fundraisingInfo?.Wegen_FundraisingType?.fundraising_type"
        readonly
      />
    </div>

    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >Currency</label
      >
      <input
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        formControlName="email"
        [value]="fundraisingInfo?.Wegen_Currency?.currency_type"
        readonly
      />
    </div>
    <div class="col-span-2">
      <label for="email" class="block text-xs mb-3 text-gray-700"
        >Project Image</label
      >
      <button
        type="text"
        class="h-12 border mb-3 rounded px-4 w-full bg-gray-50"
        formControlName="email"
        fab-extended
        (click)="
          navigateTo(
            fundraisingInfo?.Wegen_FundraisingMedium?.fundraising_image_path +
              ''
          )
        "
      >
        Project Image
      </button>
    </div>
  </div>
  <!--Start of Phases Section -->
  <div>
    <p class="text-lg">Projects Phases</p>
    <app-phase
      class="flex flex-col gap-2"
      *ngFor="let phase of fundraisingInfo?.phases"
      [startingDate]="fundraisingInfo?.start_date + ''"
      [endingDate]="fundraisingInfo?.end_date + ''"
      [phaseStartingDate]="phase.phase_start_date"
      [phaseEndingDate]="phase.phase_end_date"
      [actionPlan]="phase.phase_action_planDoc"
      [phaseTitle]="phase.phase_title"
      [amount]="phase.required_amount"
      [phaseProgressImage]="phase?.phases?.[0]?.phase_progress_image || ''"
      [phaseStatus]="phase.status"
      [phaseId]="phase.phase_id"
    >
    </app-phase>
  </div>
  <div class="flex justify-between w-[80%] mx-auto my-4">
    <div class="flex flex-col">
      <p class="font-semibold">Organizer</p>
      <p class="border rounded-md py-2 px-4">
        {{ fundraisingInfo?.organizer_name }}
      </p>
    </div>
    <div class="flex flex-col">
      <p class="font-semibold">Facilitator</p>
      <p class="border rounded-md py-2 px-4">Samuel</p>
    </div>
  </div>
  <div class="flex justify-center">
    <button
      class="bg-[#09BC36] text-white mx-auto py-2 px-4 rounded-md"
      *ngIf="!fundraisingInfo?.is_verified"
      (click)="verifyProject()"
    >
      Approve project
    </button>
    <button
      class="bg-[#A70000] text-white mx-auto py-2 px-4 rounded-md"
      *ngIf="fundraisingInfo?.is_verified"
      (click)="suspendProject()"
    >
      Suspend project
    </button>
  </div>
</div>
