<p>Dashboard</p>
<div class="flex justify-between">
  <app-dashborardcard
    title="Total User"
    amount="40,689"
    icon="../../../assets/icons/user_icon.png"
  ></app-dashborardcard>
  <app-dashborardcard
    title="Total Project"
    amount="10293"
    icon="../../../assets/icons/project_icon.png"
  ></app-dashborardcard>
  <app-dashborardcard
    title="Total Fundraiser"
    amount="$89,000"
    icon="../../../assets/icons/fundraiser_icon.png"
  ></app-dashborardcard>
  <app-dashborardcard
    title="Total Blog"
    amount="2040"
    icon="../../../assets/icons/blog_icon.png"
  ></app-dashborardcard>
</div>
