<p>Dashboard</p>
<div class="flex justify-between flex-col lg:flex-row gap-2">
  <app-dashborardcard
    title="Total User"
    [amount]="totalUsers"
    icon="../../../assets/icons/user_icon.png"
  ></app-dashborardcard>
  <app-dashborardcard
    title="Total Project"
    [amount]="totalProjects"
    icon="../../../assets/icons/project_icon.png"
  ></app-dashborardcard>
  <app-dashborardcard
    title="Total Fundraiser"
    [amount]="totalFundraisers"
    icon="../../../assets/icons/fundraiser_icon.png"
  ></app-dashborardcard>
  <app-dashborardcard
    title="Total Blog"
    amount="0"
    icon="../../../assets/icons/blog_icon.png"
  ></app-dashborardcard>
</div>
